{% extends "base.html.twig" %}

{% block title %}{{ parent() }}: Accueil{% endblock %}


{% block body %}
<div class="back">
    {{ form_start(form) }}
    {{ form_end(form) }}
</div>

{% endblock %}

{% block js %}

{% endblock %}