{% extends "base.html.twig" %}

{% block title %}Créer un site{% endblock %}


{% block body %}

    <h1>Créer un site</h1>
    <div class="back">
        {{ form_start(form) }}
        {{ form_end(form) }}
    </div>

{% endblock %}

{% block js %}

{% endblock %}