{% extends 'base.html.twig' %}
{% block body %}

    <div class="back">
        {{ form(form) }}
        <a href="{{ url('home_home') }}">Annuler</a>
    </div>
{% endblock %}
{% block title %}
    Annuler une sortie | {{ parent() }}
{% endblock %}