{% extends 'base.html.twig' %}
{% block title %}
    Créer une sortie | {{ parent() }}
{% endblock %}
{% block body %}
    <div class="back">
        {{ form(sortieForm)}}
        <a href="{{ url('home_home') }}">Annuler</a>
    </div>
{% endblock %}
