{% extends 'base.html.twig' %}
{% block title %}
    Créer une sortie | {{ parent() }}
{% endblock %}
{% block body %}
    <div class="back">
        <form method="post">
            {{ form_widget(sortieForm) }}
            <input type="hidden" name="etat_draft" value="1">
            <input type="hidden" name="etat_published" value="2">
            <button type="submit" name="draft">Enregistrer comme brouillon</button>
            <button type="submit" name="publish">Publier</button>
        </form>

        <a href="{{ url('home_home') }}">Annuler</a>

    </div>
{% endblock %}
