{% extends 'base.html.twig' %}
{% block title %}
    Modifier une sortie | {{ parent() }}
{% endblock %}
{% block body %}
    <h1>Modifier une sortie</h1>
    <div class="back">
        <form method="POST">

            {{ form_start(form) }}
            {{ form_widget(form) }}

            <input type="hidden" name="etat_draft" value="1">
            <input type="hidden" name="etat_published" value="2">

            <button type="submit" name="draft">Enregistrer les modifications</button>
            <button type="submit" name="publish">Publier</button>

{#            <button type="submit">Enregistrer les modifications</button>#}

        </form>
    </div>

{% endblock %}