{% extends 'base.html.twig' %}

{% block title %}Erreur accès{% endblock %}

{% block body %}
    <h1>Erreur accès</h1>
    <div class="back">

    <span>Vous n'avez plus accès au site web : http://127.0.0.1:8000/. Veuillez contacter un administrateur par mail : [exempledemail@unjour.com]</span>

    </div>
{% endblock %}