{% extends 'base.html.twig' %}

{% block title %}Accès non autorisé{% endblock %}

{% block body %}
    <h1>Accès non autorisé</h1>
    <div class="back">
    <span>Vous n'avez pas accès à cette page!</span>
    </div>
{% endblock %}